In [7]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

# Load the data
df = pd.read_stata('A1_kommune.dta')

display(df)

     nr                kommune        taxrev    taxrate     pop
0   101     Københavns Kommune  44170.335938  23.799999  528208
1   147  Frederiksberg Kommune   6682.439941  23.100000   96718
2   151       Ballerup Kommune   4598.704102  25.500000   47652
3   153        Brøndby Kommune   3121.204834  24.500000   33795
4   155         Dragør Kommune    858.017944  24.799999   13564
..  ...                    ...           ...        ...     ...
93  840         Rebild Kommune   1957.348511  25.100000   28852
94  846  Mariagerfjord Kommune   3186.054932  25.700001   42604
95  849     Jammerbugt Kommune   3241.256592  25.299999   38927
96  851        Aalborg Kommune  16330.091797  25.400000  197426
97  860       Hjørring Kommune   5061.796875  25.400000   66803

[98 rows x 5 columns]

In [10]:
# Display the first few rows of the dataset
#df.head()

# Get a descriptive summary of the dataset
#df.describe()
print(df.describe().to_latex())
# Plot for 'taxrev' (Tax Revenue)
#plt.figure(figsize=(8, 6))
#plt.hist(df['taxrev'], bins=20, color='blue', edgecolor='black')
#plt.title('taxrev')
#plt.xlabel('Tax Revenue')
#plt.ylabel('Frequency')
#plt.grid(True)
#plt.show()

# Plot for 'taxrate' (Tax Rate)
#plt.figure(figsize=(8, 6))
#plt.hist(df['taxrate'], bins=10, color='green', edgecolor='black')
#plt.title('taxrate')
#plt.xlabel('Tax Rate')
#plt.ylabel('Frequency')
#plt.grid(True)
#plt.show()

# Plot for 'pop' (Population)
#plt.figure(figsize=(8, 6))
#plt.hist(df['pop'], bins=20, color='orange', edgecolor='black')
#plt.title('pop')
#plt.xlabel('Population')
#plt.ylabel('Frequency')
#plt.grid(True)
#plt.show()

\begin{tabular}{lrrrr}
\toprule
 & nr & taxrev & taxrate & pop \\
\midrule
count & 98.000000 & 98.000000 & 98.000000 & 98.000000 \\
mean & 462.173469 & 4477.341309 & 25.208162 & 56475.887755 \\
std & 236.555437 & 5251.175293 & 0.908003 & 62925.301713 \\
min & 101.000000 & 211.228409 & 22.799999 & 1969.000000 \\
25% & 242.500000 & 2466.702271 & 24.799999 & 29997.750000 \\
50% & 435.000000 & 3317.848633 & 25.299999 & 43475.000000 \\
75% & 697.250000 & 4786.060913 & 25.700001 & 59733.000000 \\
max & 860.000000 & 44170.335938 & 27.799999 & 528208.000000 \\
\bottomrule
\end{tabular}